.personalized-button {
  box-sizing: border-box;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  &.google-sign-in {
    background-color: #24763A;
    color: white; 
    
    
    &:hover {
      color: white; 
      background-color: #1A542A;
      border: none; 
    }
  }

}

