.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  
  .logo {
    height: auto; 
    width: 100%; 
    justify-content: flex-start;
}

  .logo-container {
      position: relative; 
      left: -1.5vw; 
      top: 1.5vh; 
    height: 100%;
    width: 350px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .link-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      padding: 10px 15px;
    }
  }
}
